#wc-m360-signin-popup-wrap {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,0.8);
    z-index:1000;
}
#wc-m360-signin-popup {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    width:100%;
    max-width:420px;
    max-height:420px;
    padding: calc(2.5rem + 24px) calc(1.5rem + 24px);
    margin:auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    background: #ffffff;
    overflow: hidden;
    color: rgba(0,0,0,0.65);
}
#wc-m360-signin-popup-title {
    font-size: 22px;
    text-align: left;
    margin: 0 0 1.2rem 0;
    font-weight:700;
    color: inherit;
}
#wc-m360-signin-popup-accounts-list {
    max-height: 350px;
    overflow:auto;
}
#wc-m360-notice-box p {
    margin-bottom: 10px;
    margin-top: 0px;
}
#wc-m360-signin-popup-content {
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-control {
    border: 1px solid #E6E6E6;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 20px 11px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    margin: 0.3rem 0;
    box-sizing: border-box;
    transition: border .3s, box-shadow .3s;
}
.login-pf-settings {
    margin-top: 0.5rem;
}
.login-pf-settings a {
    margin-left: 10px;
}
.kc-form-description,
.kc-form-submit-agreement,
.login-pf-settings a {
    color: rgba(0, 0, 0, .45);
}
#form-buttons {
    margin-top: 1.5rem;
}
.btn-primary,
.btn-secondary,
.btn-link {
    display: table;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: none;
}
.btn-primary,
.btn-secondary {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    border-radius: 5px;
    border: none;
    margin-top: 0;
    padding: 0.75rem;
    color: #fff;
    transition: box-shadow 0.2s ease;
}
.btn-primary {
    background: #006DD0;
    -webkit-appearance: none;
}
.btn-primary:hover,
.btn-primary:active {
    background: #07569D;
}
.login-pf-settings a:hover,
.login-pf-settings a:active {
    color: #888;
}
.form-control:active,
.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(0 109 208 / 20%);
    border-color: #238ade;
}

.form-control:hover {
    border-color: #238ade;
}
#wc-m360-signin-popup-alert-error:empty {
    display:none;
}
.alert {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin: 10px 0;
    border-radius: 3px;
}
.alert-error {
    background-color: rgba(204, 0, 0, 0.1);
    border-color: #cc0000;
    color: #333333;
}
#accounts-list {
    max-width: 100%;
    max-height:300px;
    overflow:auto;
}
.m360-account {
    display: flex;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    margin-bottom: 10px;
    cursor:pointer;
    transition: 0.25s;
}
.m360-account-icon {
    max-width: 100px;
    margin-right:10px;
}
.display-name {
    margin-bottom:0;
}
.account-number {
    margin-top: 0;
    font-weight:400;
    font-size:1em;
}
.m360-account:hover,
.m360-account:focus {
    border-color: #238ade;
}